@import '../../styles/variables';

.column {
  display: flex;
  flex-direction: column;
  width: 255px;
  padding: 12px 8px;
  background-color: $column-bg;
  border-radius: $border-radius;
  box-shadow: $shadow;
  flex-shrink: 0;
  max-height: calc(100vh - 140px);

  // background-color: blue;

  //COLUMN TITLE 
  .column-title-wrapper {
    margin-bottom: 12px;
    border-radius: 5px;

    .column-title-display {
      // border: 1px solid;
      font-weight: bold;
      font-size: 16px;
      padding: 6px;
      cursor: pointer;
      word-break: break-word;
      text-align: left;
      border-radius: 4px;
      transition: background-color 0.2s;
      box-sizing: border-box;
    }

    .column-title-input {
      font-weight: bold;
      font-size: 16px;
      width: 100%;
      min-height: 36px;
      padding: 9px 6px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      // outline: none;
      display: block;
      background-color: #fff;

    }


  }

  // ✅ KHỐI CHỨA THẺ CUỘN ĐƯỢC
  .column-cards-wrapper {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 4px;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
    box-sizing: border-box;
    // padding: 12px 8px;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 14px;
    }
  }



}

.isPlaceholderColumn {
  background-color: #000000 !important;
  box-shadow: none;
  color: #000000 !important;
  opacity: 0.2;
  will-change: opacity, background-color;
  transition: none !important;


  * {
    color: transparent !important;
    background-color: transparent !important;
    pointer-events: none;
    user-select: none;
    box-shadow: none;
    transition: none !important;
    will-change: all;
  }
}