@import '../../styles/variables';

.column {
  display: flex;
  flex-direction: column;
  width: 255px;
  padding: 6px 8px 8px;
  background-color: $column-bg;


  border-radius: $border-radius;
  box-shadow: $shadow;
  flex-shrink: 0;
  max-height: calc(100vh - 140px);
  border: 2px solid $column-bg;
  transition: border 0.2s ease;
  gap: 12px;

  //COLUMN TITLE 
  .column-title-wrapper {
    border-radius: 5px;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    // background-color: blue;
    font-weight: bold;
    overflow: hidden;
    gap: 1px;
    // padding-top: 10px;

    .column-title-display {
      font-weight: 600;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: pointer;
      font-family: inherit;
      padding: 8px 8px;
      // background-color: red;
    }

    .column-title-input {
      font-size: 16px;
      font-weight: 600;
      font-family: inherit;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      box-sizing: border-box;
      overflow: hidden;
      outline: none;
      padding: 0px 8px;
      line-height: 32px;
      margin: 0;
      border: none;
      box-shadow: none;
      transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;

    }

    .column-title-input:focus {
      box-shadow: inset 0 0 0 2px #0079bf;
    }

    .delete-column-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-radius: 9px;
    }

    .delete-column-btn:hover {
      cursor: pointer;
      background-color: rgb(228, 223, 223);
    }

  }

  // ✅ KHỐI CHỨA THẺ CUỘN ĐƯỢC
  .column-cards-wrapper {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 4px;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
    box-sizing: border-box;
    width: 100%;
    // background-color: blue;
    padding: 2px;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 14px;
    }
  }



}

.isPlaceholderColumn {
  background-color: #000000 !important;
  box-shadow: none;
  color: #000000 !important;
  opacity: 0.2;
  will-change: opacity, background-color;
  transition: none !important;
  border: 2px solid transparent !important;


  * {
    color: transparent !important;
    background-color: transparent !important;
    pointer-events: none;
    user-select: none;
    box-shadow: none;
    transition: none !important;
    will-change: all;
    border: 1px solid transparent !important;
  }
}

.isPlaceholderColumnBorder {
  border: 2px solid #4a91f6;
}