$primary-color: #1976d2;
$background-color: linear-gradient(to bottom, #373b44, #4286f4);
$background-header-board-color: #2a87d3;
$column-bg: #f1f2f4;
$card-bg: #ffffff;
$border-radius: 12px;
$shadow: 0 1px 3px rgba(0, 0, 0, 0.1);