@import '../../styles/variables';

.card-item {
  background-color: $card-bg;
  // border: 3px solid $card-bg;
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 14px;
  color: #172b4d;
  box-shadow: 0 1px 1px rgba(9, 30, 66, 0.2), 0 0 1px rgba(9, 30, 66, 0.31);
  cursor: pointer;
  transition: border 0.3s ease;
  transition: background-color 0.3s;

  &:target,
  &:focus-within {
    background-color: #e4f0f6;
  }

  text-align: left;


}

.card-item:hover {
  background-color: rgb(228, 223, 223);
}

.card {
  background-color: #fff;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  position: relative;

  .card-content {
    word-break: break-word;
    font-size: 14px;
    margin-bottom: 6px;
  }

  .edit-btn {
    position: absolute;
    top: 6px;
    right: 6px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }

  .card-edit-input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    outline: none;
    resize: none;
  }
}

.isCardDragging {
  user-select: none !important;
  background-color: rgb(228, 223, 223);
  color: rgb(228, 223, 223);
  opacity: 0.8;
}