// src/components/WorkspaceSection.scss
.workspace-section {
    margin-bottom: 40px;

}

.workspace-header {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    margin-bottom: 16px;
    gap: 20px;

    .workspace-title {
        font-size: 24px;
        font-weight: bold;
    }

    .create-button {
        display: flex;
        background-color: #f1f2f4;
        font-weight: bold;
        padding: 8px 12px;
        border: none;
        border-radius: 5px;
        color: #44546f;
        font-size: 15px;
        gap: 5px;
        transition: background 0.2s ease;

    }

    .create-button:hover {
        background: #dbdddf;
    }
}



.workspace-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 12px 0;

    .workspace-avatar {
        width: 32px;
        height: 32px;
        background-color: #dfe1e6;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }

    h3 {
        font-size: 15px;
        margin: 0;
    }
}