@import './styles/variables';

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

body,
html,
#root {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

// Main container
.trello-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  // width: 100vh;


  //BOARD HEADER
  .board-header {
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: $background-header-board-color;
    color: white;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.35);

    .board-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 30px;
      width: 100%;

      .title-name {
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
        padding: 5px 8px;
      }

      .title-name:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }

      input {
        width: fit-content;
        font-size: 18px;
        padding: 2px 5px;
        border-radius: 4px;
        border: none;
        outline: none;
        font-weight: bold;
        color: black;
        // background-color: red;
      }

      input:focus {
        border: 1px solid $primary-color;
        box-shadow: 0 0 0 2px $primary-color;
      }

      .delete-board {
        // background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        // opacity: 1
        cursor: pointer;
        border-radius: 5px;
      }

      .delete-board:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }

    .board-title:focus-within {
      padding: 0px;
      /* khi input được focus */
    }


  }

  //BOARD CONTENT
  .board-content {
    // flex: 1;
    display: flex;
    padding: 10px 20px;
    gap: 15px;
    overflow-x: auto;
    overflow-y: hidden; // ✅ NGĂN scroll dọc toàn trang
    align-items: flex-start;
    width: 100%;
    height: 100%;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
    background: $background-color;

  }
}


/* Toàn trang - chỉ khi đang kéo  - LỖI BÔI ĐEN KHI KÉO*/
body.dragging {
  user-select: none !important;
  -webkit-user-select: none;
  -ms-user-select: none;
}